@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --color-change: #31C4CF;
    --color-text: #d2d2d2;
    --color-href: #878787;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    font-size: 14px;
}

body.no-scroll {
  overflow: hidden;
}

.tapa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #000;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 2s ease;
}

.tapa.loaded {
    opacity: 0;
}

.loader {
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    padding: 60px 100px 0 100px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}
header.active {
    left: -300px;
} */

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 60px 100px 0 100px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transform: translateX(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.2));
}

header.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10%);
}

header.active {
    transform: translateX(-300px);
}

header .logo {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(./img/menu.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
    background: url(./img/close.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

.page {
    position: relative;
    right: 0;
    z-index: 2;
    width: 100%;
    transition: 0.5s;
}

.page.active {
    right: 300px;
}

p {
    line-height: 1.6;
}

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100dvh;
    padding: 0 0 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    transition: 0.5s;
    overflow: hidden;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 105%;
    object-fit: cover;
}

.text {
    position: relative;
    z-index: 10;
    pointer-events: none;
}

.text h1 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
    transition: opacity 0.7s ease-in-out 0.1s;
    opacity: 0;
}

.text h2 {
    font-weight: 300;
    transition: opacity 0.7s ease-in-out 0.3s;
    opacity: 0;
}

.text p {
    margin: 16px 0;
    font-weight: 300;
    max-width: 400px;
    transition: opacity 0.7s ease-in-out 0.5s;
    opacity: 0;
}

.btn-pill {
    margin-top: 10px;
    transform: translateX(-3px);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* separación icono-texto */

    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    background-color: var(--color-text);
    transition:  background-color 0.3s ease;

    color: #000;
    padding: 12px 24px;
    border-radius: 999px;
    white-space: nowrap;
    border: none;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    pointer-events: auto;
    transition: opacity 0.7s ease-in-out 0.7s;
    opacity: 0;
}

.text.visible h1,
.text.visible h2,
.text.visible p,
.text.visible .btn-pill {
    opacity: 1;
}

.btn-pill:hover {
    background-color: var(--color-change);
    color: #000;
}

/* WHATSAPP FLOTANTE */
.btn-wp {
    position: fixed;
    right: 100px;
    bottom: 40px;
    z-index: 9999;

    /* reseteos de tu btn-pill */
    margin-top: 0;
    opacity: 0;
    transform: translateY(10px);
    pointer-events: none;
    background-color: var(--color-change);

    transition:
        opacity 0.7s ease-in-out,
        transform 0.7s ease-in-out;
}

/* Icono */
.btn-pill .icon-wp{
  width: 16px;
  height: 16px;
  display: block;
}

.btn-wp:hover {
    background-color: var(--color-text);
}

.btn-wp.is-visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}


/* OVERLAY */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
}

.video-completo {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;

    z-index: 300;

    display: grid;
    place-items: center;

    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

.video-completo.active {
    opacity: 1;
    visibility: visible;
    background-color: rgb(0, 0, 0, 0.8);
}

.reproductor{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    cursor: url("./img/close.png") 18 18, pointer;
}

.video-completo video {
    position: relative;
    max-width: 80%;
    max-height: 80vh;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
    cursor: default;
}

.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    font-size: 1.2em;
    color: #FFF;
    line-height: 3;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s ease;
    transform-origin: left center;
}

.menu ul li a:hover {
    transform: scale(1.3);
    color: var(--color-change);
}

/* efecto de dock macOS */
.menu ul li:hover + li > a {
  transform: scale(1.1) translateY(6px);
}
.menu ul li:has(+ li:hover) > a {
  transform: scale(1.1) translateY(-6px);
}


/* SECCIONES */
.seccion {
    padding: 60px 100px;
    background-color: #111;
    font-weight: 200;
}

.seccion .wrapper {
    max-width: 1080px;
    margin: 0 auto;
}
.seccion .container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.seccion.izquierda .wrapper{
  margin-left: 0;
  margin-right: auto;
}

.seccion.derecha .wrapper{
  margin-left: auto;
  margin-right: 0;
}

.seccion h2 {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.15em;
    color: var(--color-change);
}

#sobre-mi img{
  width: 33%;
  height: auto;
}

.box {
  width: 33%;
  height: auto;
}

#sobre-mi .box .btn-pill {
  margin-top: 30px;
  padding: 12px 32px;
  text-decoration: none;
  opacity: 1;
}

#cirugia-mamas {
    background-color: #222;
}

/* ACORDEON */

.acordeon .item {
    overflow: hidden;
    border-top: 1px solid #333;
    transition: background-color 0.6s ease;
}

.acordeon .item:not(.active):hover {
  background-color: #444;
}

.acordeon .item:last-of-type {
    border-bottom: 1px solid #333;
}

.acordeon h3 {
    font-weight: 400;
    color: #666;
    transition: color 0.6s ease;
}

.acordeon .item:not(.active) h3:hover {
    color: #999;
  }

.acordeon h4 {
    font-weight: 300;
    color: #888;
    margin-bottom: 20px;
}

.acordeon ul {
    list-style-position: inside;
    list-style-type: none;
}

.acordeon li::before {
  content: '—';
  margin-right: 10px;
}

/* el h3 define el alto visible */
.acordeon .item > h3 {
    margin: 0;
    padding: 16px 0; /* lo que ya tengas */
    cursor: pointer;
    transition: padding-left 0.25s ease;
}

/* estado cerrado */
.acordeon .item:not(.active) {
    height: auto; /* importante para poder medir el h3 */
}

.acordeon .item:not(.active) > h3 {
  padding-left: 20px;
}

/* estado cerrado */
.acordeon .item .container {
    height: 0px;
    opacity: 0;
    margin-bottom: 0px;
    overflow: hidden;
    transition: height 0.4s ease, opacity 1s ease;
}

.acordeon .item details {
    height: 0px;
    opacity: 0;
    margin-bottom: 0px;
    overflow: hidden;
    transition: height 0.4s ease, opacity 1s ease;
}

.acordeon .item details p + p {
  margin-top: 20px;
}

.acordeon .item.active details{
    opacity: 1;
    height: auto;
    overflow: visible;
    margin-bottom: 20px;
}

.toggle-text .label::before {
  content: "Leer más";
  color: var(--color-change);
}

.toggle-text[open] .label::before {
  content: "Leer menos";
  color: var(--color-href);
}

.leer-mas summary {
    list-style: none;          /* Firefox */
    cursor: pointer;
    margin: 20px 0;
}

.leer-mas summary::-webkit-details-marker {
  display: none;             /* Chrome / Safari */
}

/* .leer-mas summary::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;
  background: url("img/icon-plus.svg") no-repeat center / contain;
}

.leer-mas[open] summary::before {
  background-image: url("img/icon-minus.svg");
} */

/* estado abierto */
.acordeon .item.active .container {
    opacity: 1;
    height: auto;
    overflow: visible;
    margin-bottom: 20px;
}

.btn-pill.js-open-video {
    opacity: 1;
    transform: none;
    margin-top: 0;
}

@media(max-width: 880px) {
    .showcase,
    .showcase header,
    .seccion {
        padding: 40px;
    }
    .seccion .container {
        flex-direction: column;
    }
    .box {
        width: 100%;
        height: auto;
    }
    #sobre-mi img {
        width: 100%;
        height: auto;
    }
    /* estado abierto */
    .acordeon .item.active .container {
        height: auto;
        overflow: visible;
        gap: 20px;
    }
    .seccion.izquierda .wrapper.acordeon {
        margin-bottom: 40px;
    }
    .btn-wp{
        right: auto;
        left: 50%;
        bottom: 20px;

        transform: translateX(-50%) translateY(10%);
    }
    .btn-wp.is-visible{
        transform: translateX(-50%) translateY(0);
    }
}

@media(max-height: 400px) {
    .showcase,
    .showcase header,
    .seccion {
        padding: 40px;
    }
    .text h1 {
        font-size: 1em;
    }
    .text h2 {
        font-size: 0.8em;
    }
    .text p {
        font-size: 0.8em;
    }
    .video-completo video {
        width: 60%;
    }
}