@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --color-change: #31C4CF;
    --color-text: #d2d2d2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--color-text);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #000;
    font-size: 14px;
}

body.no-scroll {
  overflow: hidden;
}

.tapa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: #000;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 2s ease;
}

.tapa.loaded {
    opacity: 0;
}

.loader {
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    padding: 60px 100px 0 100px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}
header.active {
    left: -300px;
} */

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    padding: 60px 100px 0 100px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;

    transform: translateX(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.2));
}

header.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10%);
}

header.active {
    transform: translateX(-300px);
}

header .logo {
    width: 50px;
    height: auto;
    cursor: pointer;
}


.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(./img/menu.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
    background: url(./img/close.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
}

.page {
    position: relative;
    right: 0;
    z-index: 2;
    width: 100%;
    transition: 0.5s;
}

.page.active {
    right: 300px;
}

.showcase {
    position: relative;
    right: 0;
    width: 100%;
    min-height: 100dvh;
    padding: 0 0 60px 100px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    transition: 0.5s;
    overflow: hidden;
}

.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 105%;
    height: 105%;
    object-fit: cover;
}

.text {
    position: relative;
    z-index: 10;
    opacity: 0;
    transition: 1s;
    pointer-events: none; /* el bloque de texto deja pasar el click */
}

.text h1 {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.text h2 {
    font-weight: 300;
}

.text p {
    margin: 16px 0;
    font-weight: 300;
    max-width: 400px;
}

.btn-pill {
    margin-top: 10px;
    transform: translateX(-3px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    background-color: var(--color-text);
    color: #000;
    padding: 12px 24px;
    border-radius: 999px;
    white-space: nowrap;
    transition: 0.3s;
    border: none;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
}

.text .btn-pill {
  pointer-events: auto; /* pero el botón sí clickeable */
}

.btn-pill:hover {
    background-color: var(--color-change);
    color: #000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}

.video-completo {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;

    z-index: 300;

    display: grid;
    place-items: center;

    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease, opacity 0.5s ease;
}

.video-completo.active {
    opacity: 1;
    visibility: visible;
    background-color: rgb(0, 0, 0, 0.8);
}

.reproductor{
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    cursor: url("./img/close.png") 18 18, pointer;
}

.video-completo video {
    position: relative;
    width: 80%;
    height: auto; 
    object-fit: contain;
    border-radius: 5px;
    cursor: default;
}

.menu {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul {
    position: relative;
    font-size: 1.2em;
    color: #FFF;
    line-height: 3;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    transition: 0.3s ease;
    transform-origin: left center;
}

.menu ul li a:hover {
    transform: scale(1.3);
    color: var(--color-change);
}

/* efecto de dock macOS */

.menu ul li:hover + li > a {
  transform: scale(1.1) translateY(6px);
}
/* .menu ul li:hover + li + li > a {
  transform: scale(1.05) translateY(10px);
} */
.menu ul li:has(+ li:hover) > a {
  transform: scale(1.1) translateY(-6px);
}
/* .menu ul li:has(+ li + li:hover) > a {
  transform: scale(1.05) translateY(-10px);
} */


.sobre {
    padding: 60px 100px;
    background-color: #111;
    font-weight: 200;
}

.sobre h2 {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.15em;
    color: var(--color-change);
}

.sobre .container {
    display: flex;
    max-width: 1080px;
    align-items: start;
    gap: 30px;
}

/* .sobre img {
    border-radius: 5px;
} */

.sobre img,
.sobre .box {
  width: 33%;
  height: auto;
}

.sobre .box .btn-pill {
  margin-top: 30px;
  padding: 12px 32px;
  text-decoration: none;
}


@media(max-width: 880px) {
    .showcase,
    .showcase header,
    .sobre {
        padding: 40px;
    }
    .sobre .container {
    flex-direction: column;
    }
    .sobre img,
    .sobre .box {
        width: 100%;
        height: auto;
    }
}

@media(max-height: 400px) {
    .showcase,
    .showcase header,
    .sobre {
        padding: 40px;
    }
    .text h1 {
        font-size: 1em;
    }
    .text h2 {
        font-size: 0.8em;
    }
    .text p {
        font-size: 0.8em;
    }
    .video-completo video {
        width: 60%;
    }
}